<br>
<header *ngIf="user != undefined">
    <a>View - {{user.firstName}} </a>
</header>
<main>
    <section *ngIf="user != undefined" id="Card">
            <img src={{user.picture}} id="profileImg">
            <h2>{{ user.title }} {{ user.firstName }} {{ user.lastName }}</h2>
            <h4>{{ user.gender }}</h4>
            <div>
                <p>Date of Birth:  {{ user.dateOfBirth }}</p>
                <p>Location:  {{ user.location.country }}, {{ user.location.city}}</p>
                <p>Phone:  {{ user.phone }}</p>
                <p>Registered On:  {{ user.registerDate }}</p>
            </div>
            <a id="goBackBtn" (click) = "onBack()">Go Back</a>
    </section>
</main>

